{% extends 'layout.html' %}
{% block content %}

<form action="" method="POST" style="width: 60; margin:40px" ; class="mx-auto">
    {{form.hidden_tag()}}
    
    <h3 class="text-center">{{heading}}</h3>

 
    <div class="form-group" >
        <!--title-->
        {{form.title.label}}
        {% if form.title.errors %}
        {{form.title(class='form-control is-invalid')}}

        <div class="invalid-feedback">
            {% for error in form.title.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>

        {% else %}    
            
        {{form.title(class='form-control')}}
        {% endif %}
    </div>




    <div class="form-group"><!--description-->
        {{form.description.label}}
        {% if form.description.errors %}
        {{form.description(class='form-control is-invalid')}}

        <div class="invalid-feedback">
            {% for error in form.description.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>

        {% else %}    
            
        {{form.description(class='form-control')}}
        {% endif %}

    </div>

    <div class="form-group">
        {{form.submit(class= 'btn btn-outline-info')}}
    </div>

</form>

{% endblock %} 

